header {
    border: 4px solid darkorchid;
    
}
nav a {
    border: 4px solid rgb(198, 170, 250);
    border-radius: 30px;
    text-decoration: none;
    background-color: rgb(227, 103, 252);
}
nav {
    margin: 10px;
    text-align:center ;
}
footer {
    border: 4px solid rgb(187, 88, 196);
}
h1 {
    color: darkviolet;
}
main {
    border: 3px solid slateblue;
    background-color: rgb(173, 163, 241);
    color: rgb(219, 26, 26);
}
